<app-header [title]="title"></app-header>
<button mat-raised-button color="primary" [routerLink]="['/private/aboutus']"><mat-icon>bookmark</mat-icon>About Us</button>
<h2>Locations</h2>

<div>
    <ul>
        <li *ngFor="let location of locations; index as i" >
            <!-- <span (click)="goToEdit(i)"> {{location.name}} </span> -->
            {{location.name}}
            <mat-icon fontIcon="edit" (click)="goToEdit(location.id!)"></mat-icon>
            <mat-icon fontIcon="delete_forever" (click)="delete(location.id!)"></mat-icon>
        </li>
    </ul>
</div>

<app-locations-forms [action]="buttonName" (outLocation)="saveLocation($event)"></app-locations-forms>